/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #000;
  overflow: hidden;
}

/* Splash Screen penuh layar */
#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 1;
  transition: opacity 1s ease;
}

.full-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Halaman App Icon (disembunyikan dulu) */
#app-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease;
}

.app-icon {
  width: 200px;
  height: auto;
  filter: drop-shadow(0 0 20px #00f6ff);
}
